<PMD2>
  <!--=======================================================================-->
  <!--ASM Patches Constants-->
  <!--=======================================================================-->
  <!--Put the data defining your patch here.-->
  <ASMPatchesConstants>

    <!--*******************-->
    <!--Patches list-->
    <!--*******************-->
    <!--Patching steps for applying various asm patches on the game-->
    <Patches>
      <Game id="EoS_NA" id2="EoS_EU" id3="EoS_JP">
        <Patch id="DisableSpindaDungeonUnlocks">
	        <OpenBin filepath="overlay/overlay_0019.bin">
            <Include filename ="patch_ov19.asm"/>
          </OpenBin>
        </Patch>
      </Game>
    </Patches>
  </ASMPatchesConstants>
</PMD2>

