<PMD2>
  <!--=======================================================================-->
  <!--ASM Patches Constants-->
  <!--=======================================================================-->
  <!--Put the data defining your patch here.-->
  <ASMPatchesConstants>

    <!--*******************-->
    <!--Patches list-->
    <!--*******************-->
    <!--Patching steps for applying various asm patches on the game-->
    <Patches>
      <Game id="EoS_EU">
        <Patch id="MeteredSkyPeak">
	      <OpenBin filepath="arm9.bin">
            <Include filename ="patch_arm9.asm"/>
          </OpenBin>
	      <OpenBin filepath="overlay/overlay_0036.bin">
            <Include filename ="patch_ov36.asm"/>
          </OpenBin>
          <Parameters>
            <Param name="MIN_SKY_PEAK_ID" label="First dungeon ID" min="1" max="255" default="111" type="int"/>
            <Param name="MAX_SKY_PEAK_ID" label="Last dungeon ID" min="1" max="255" default="122" type="int"/>
          </Parameters>
          <!-- Copy the above three lines for every file the patch modifies. -->
        </Patch>
      </Game>
    </Patches>
  </ASMPatchesConstants>
</PMD2>

